<!doctype html>
<html lang="en" ng-app='ToDo'>
<head>
    <meta charset="UTF-8">
    <title>Angular To Do</title>
    <!-- styles -->
    <link href="./css/main.css" rel="stylesheet" media="screen">
    <link href="./css/normalize.css" rel="stylesheet" media="screen">
    <link href="./css/skeleton.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="ToDoController" class="ng-cloak">
<header>
    <h1>Angular To Do</h1>
</header>
<main>
    <div class="container">
                    <!--buttons to choose view-->
        <div class="row buttons">
            <div class="one-third column">
                <button ng-click="toggleViewNew()">New</button>
            </div>
            <div class="one-third column">
                <button ng-click="toggleViewList()">To Do</button>
            </div>
            <div class="one-third column">
                <button>Completed</button>
            </div>
        </div>
                      <!--new item view-->
        <div class="row new" ng-show="view.viewNew === true">
            <form name="newToDoItem" novalidate>
                <div class="one-half column">
                    <label for="toDoItem">I need to:</label>
                    <input class="u-full-width"
                           type="text"
                           placeholder="walk the dog..."
                           id="toDoItem"
                           required
                           ng-minlength=5
                           ng-model="newItem.description"
                    >
                    <input class="button-primary" type="submit" value="Submit" ng-click="addItem(newItem)">
                </div>
            </form>
        </div>
                       <!--current to do list-->
        <div class="row toDo" ng-show="view.viewList === true">
            <form name="itemsToDo" ng-repeat="item in view.list">
                <div class="one-half column">
                    <label class="">
                        <input type="checkbox">
                        <span class="label-body">{{ item.description }}</span>
                    </label>
                </div>
            </form>
        </div>
                          <!--completed items-->
        <div class="row completed" ng-show="">
            <form name="itemsCompleted">
                <div class="one-half column">
                    <label class="example-send-yourself-copy">
                        <input type="checkbox">
                        <span class="label-body">Complete!</span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</main>

<!-- scripts -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" type="text/javascript"></script>
<script src="./js/app.js" type="text/javascript"></script>
<script src="./js/controllers.js" type="text/javascript"></script>
<script src="./js/directives.js" type="text/javascript"></script>
<script src="./js/filters.js" type="text/javascript"></script>
<script src="./js/services.js" type="text/javascript"></script>
</body>
</html>